/* 3'LÜ KAYAN YAZI */
.marquee-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Tüm setleri taşıyan ana ray (vagon) */
.marquee-track {
  display: flex;
  width: max-content;
  /* Hızı kendine göre 20s, 30s, 40s yapabilirsin */
  animation: scrollMarquee 30s linear infinite;
}

/* Mouse üzerine gelince ray dursun */
.marquee-container:hover .marquee-track {
  animation-play-state: paused;
}

/* İçerik blokları yan yana esnemeden dizilsin */
.marquee-content {
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  min-width: 100vw; /* Ekranın boş kalmamasını garantiye alır */
}

/* KUSURSUZ DÖNGÜ:*/
@keyframes scrollMarquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-40%); }
}

.last-update-box {
  z-index: 10;
  position: relative;
  font-weight: 500;
}